:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
}

.bg-img {
  min-height: 100vh;
  background-image: url(./images/cool-bicycle-studio.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-img > p {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 10%;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 0.8em;
  background: rgb(219, 226, 233, 0.6);
}

.mobile-btn-nav {
  position: absolute;
  bottom: 10%;
  left: 45%;
  transform: rotate(180deg);
  animation: scroll-down 1.1s infinite ease-in-out both;
  img {
    width: 2.5em;
  }
}

@keyframes scroll-down {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

#form-section {
  height: 100vh;
  color: rgb(219, 226, 233);
  align-self: center;
  gap: 10rem;
  font-size: 1.5rem;
  scroll-margin: 10px;
  * {
    font-family: Ubuntu;
  }
  h2 {
    font-size: 4rem;
    padding: 1em 0;
    text-align: center;
  }
  p {
    font-size: 2rem;
    margin: 1.5em auto;
  }

  p > a {
    text-decoration: none;
    color: rgb(219, 226, 233);
  }
  p > a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

input {
  font-size: 1.2rem;
  appearance: none;
  padding: 0.2em;
  background: rgb(240, 237, 237);
  border: 2px solid rgb(240, 237, 237);
  border-radius: 3px;
}

input:autofill {
  border-radius: 3px;
  border: 2px solid black;
}

input:active,
input:focus {
  border: 2px solid rgb(0, 0, 0);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  color: white;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-controls {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  display: flex;
  width: 17.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  gap: 2rem;
  box-shadow: 0px 0px 15px 4px black;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1em 4.5em;
  color: white;
  align-self: start;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
}

button:hover {
  cursor: pointer;
  background: #000000;
}

button:active,
button:focus {
  transform: scale(0.99);
}

@media (min-width: 768px) {
  .bg-img {
    min-height: 30vh;
    p {
      font-size: 2.5rem;
    }
  }
  .form > p {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  body {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .bg-img {
    width: 40%;
    p {
      font-size: 3rem;
    }
    .mobile-btn-nav {
      display: none;
    }
  }

  #form-section {
    font-size: 3rem;
    min-height: 100%;
    margin-left: 2.5em;
    h2 {
      text-align: left;
      margin: 2em 0;
    }
  }
  .form-controls {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.8rem;
    width: 40em;
    gap: 2em 5em;
    margin-bottom: 2em;
  }
  input {
    font-size: 1.5rem;
  }
}
